{% extends "base.html" %}
{% block title %}
<h3 align="center">Edit board</h3>
{% endblock title %}
{% block content %}
<body style="background: {{ board.color }}">
<p><a href="{% url 'Board' board.id %}">back</a></p>
<form action="{% url 'edit_board' board.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ edit_board_form.as_p }}
    <input type="submit" value="Change">
</form>
{% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
{% endif %}
</body>
{% endblock content %}}